<link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css" >

<header class="header_me">
  <div class="logo_me">SSTKK</div>
  <div class="hamburger_me">
    <div class="line_me"></div>
    <div class="line_me"></div>
    <div class="line_me"></div>
  </div>
  <nav class="nav-bar_me">
    <ul>
      <li><a href="/" class="active_me">Domov</a></li>
      <li><a href="/newsList">Novinky</a></li>
      <li th:with="userSession=${session.user}">
        <a href="#" th:if="${userSession}"  th:text="${userSession.email}" ></a>
        <ul class="dropdown" th:if="${userSession}" >
          <li><a th:href="@{/user/logout}">Odhlasit sa</a></li>
        </ul>
        <a href="/user/login" th:unless="${userSession}">Prihlasiť sa</a>
      </li>
      <li><a href="/trainings">Treningy</a></li>
      <li><a href="#" >História</a></li>
      <li><a href="/user/users_page" >Členovia</a></li>
    </ul>
  </nav>
</header>
<script src="/javascript/navbar.js"></script>
