<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/AddingNews.css}" rel="stylesheet" type="text/css" >
</head>
<body>
<div class="addNewsContainer">
  <form method="post" th:action="/editNews" th:object="${newsModel}">
    <input th:value="${news.getCreator()}" class="form-control" type="text" name="creator" >
    <input th:value="${news.getTitle()}" class="form-control" type="text" name="title" >
    <input th:value="${news.getContent()}" class="form-control" type="text" name="content" >
    <input type="submit" name="content" value="Upravit prispevok">
  </form>
</div>
</body>
</html>