<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" >
    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/javascript/testAjax.js"></script>
</head>
<body>

<header th:replace="~{fragments/navbar}"></header>
<!--<a href="/animeList">Navigate to list animes</a> -->
<div class="container">
    <h1>Vytajte na stránke SSTKK Slovenská spoločnosť tradičneho karate a kobudo</h1>
    <p>Slovenská spoločnosť tradičného karate a kobudo je spoločnosť kde sa stretávajú cvičenci za účelom zdokonaľovania sa v cvičení tradičného karate a kobudo, zdokonaľovanie techník dýchania a precvičovania motoriky a základných pohybo</p>
    <h2>Karate</h2>
    <p>Karate popis</p>
    <h2>Kobudo</h2>
    <p>kobudo popis</p>
    <h2>Okinava</h2>
    <p>okinava popis</p>
    <h2>Sebaobrana</h2>
    <p>sebaobrana popis</p>
</div>


</body>
</html>

