<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" >
</head>
<body>

<header th:replace="~{fragments/navbar}"></header>
<div class="login-main-container">
  <form class="login login form" method="post" action="/user/login" th:object="${loginRequest}">
    <h2>Prihlásiť</h2>
    <div class="input-box">
      <input type="text" name="login" placeholder="Login" required>
      <i class='bx bxs-user' ></i>
    </div>
    <div class="input-box">
      <input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      <i class='bx bxs-lock-alt' ></i>
    </div>
    <div class="input-box">
      <!--<input type="submit" name="sign-in" value="Prihlásiť"> -->
      <button type="submit" class="btn" name="sign-in">Prihlásiť</button>
    </div>
    <div class="registe-link" >
      <a href="/user/register">Vytvoriť účet</a>
    </div>

  </form>
</div>
</body>
</html>