<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/trainings_table.css}" rel="stylesheet" type="text/css" >
    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/trainings.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  crossorigin="anonymous">

</head>
<body>
<header th:replace="~{fragments/navbar}"></header>
<div class="table-container_me" th:with="userSession=${session.user}">
    <table class="table_me">
        <thead>
        <tr>
            <th>Den</th>
            <th>15:00</th>
            <th>16:00</th>
            <th>17:00</th>
            <th>18:00</th>
            <th>19:00</th>
            <th>20:00</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="den : ${dny}">
            <td th:text="${den}"></td>
            <td th:each="cas : ${casy}">
        <span th:each="trening : ${Treningy}" th:if="${trening.day.equals(den) and trening.time.equals(cas)}">
            <span th:text="${trening.description}" style="margin-right: 10px;"></span>
            <div style="display: flex; align-items: center;">
                <button th:if="${userSession != null and userSession.role.toString() == 'ADMIN'}" class="btn btn-danger btn-sm" th:attr="data-id=${trening.id}" onclick="deleteTraining(this)" ><i class="fas fa-trash-alt"></i></button>
            </div>
        </span>
            </td>
        </tr>

        </tbody>

    </table>
    <button th:if="${userSession}" class="btn btn-success" data-toggle="modal" data-target="#myModal">Pridat trening</button>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vytvoriť príspevok</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="selectDay">Vyberte deň tréningu</label>
                        <select class="form-control" id="selectDay" name="day">
                            <option value="Pondelok">Pondelok</option>
                            <option value="Utorok">Utorok</option>
                            <option value="Streda">Streda</option>
                            <option value="Štvrtok">Štvrtok</option>
                            <option value="Piatok">Piatok</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectTime">Vyberte čas tréningu</label>
                        <select class="form-control" id="selectTime" name="time">
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <option value="18:00">18:00</option>
                            <option value="19:00">19:00</option>
                            <option value="20:00">20:00</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputText3">Zadajte popis treningu</label>
                        <input type="text" name="description" class="form-control" id="inputText3" placeholder="Zadajte popis treningu">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="potvrditBtn">Potvrdiť</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavrieť</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>