<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/trainings_table.css}" rel="stylesheet" type="text/css" >
</head>
<body>
<header th:replace="~{fragments/navbar}"></header>
<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th>Deň</th>
            <th>15:00</th>
            <th>16:00</th>
            <th>17:00</th>
            <th>18:00</th>
            <th>19:00</th>
            <th>20:00</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-label="Deň">Pondelok</td>
            <td data-label="15:00"></td>
            <td data-label="16:00"></td>
            <td data-label="17:00"></td>
            <td data-label="18:00"></td>
            <td data-label="19:00"></td>
            <td data-label="20:00"></td>
        </tr>
        <tr>
            <td data-label="Deň">Utorok</td>
            <td data-label="15:00"></td>
            <td data-label="16:00"></td>
            <td data-label="17:00"></td>
            <td data-label="18:00"></td>
            <td data-label="19:00"></td>
            <td data-label="20:00"></td>
        </tr>
        <tr>
            <td data-label="Deň">Streda</td>
            <td data-label="15:00"></td>
            <td data-label="16:00"></td>
            <td data-label="17:00"></td>
            <td data-label="18:00"></td>
            <td data-label="19:00"></td>
            <td data-label="20:00"></td>
        </tr>
        <tr>
            <td data-label="Deň">Štvrtok</td>
            <td data-label="15:00"></td>
            <td data-label="16:00"></td>
            <td data-label="17:00"></td>
            <td data-label="18:00"></td>
            <td data-label="19:00"></td>
            <td data-label="20:00"></td>
        </tr>
        <tr>
            <td data-label="Deň">Piatok</td>
            <td data-label="15:00"></td>
            <td data-label="16:00"></td>
            <td data-label="17:00"></td>
            <td data-label="18:00"></td>
            <td data-label="19:00"></td>
            <td data-label="20:00"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>